---
name: ${COMMAND_NAME}
description: ${COMMAND_DESCRIPTION}
argument-hint: "${COMMAND_ARG_HINT}"
arguments: [${COMMAND_ARGUMENTS}]
disable-model-invocation: true
---

# Command: /${COMMAND_NAME}

## Usage

```text
/${COMMAND_NAME} ${COMMAND_ARG_HINT}
${COMMAND_USAGE_EXAMPLES}
```

## Behavior

${COMMAND_BEHAVIOR}

## Output Format

${COMMAND_OUTPUT}
